* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper1 {
    width: 75%;
    height: 6.75%;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: hidden;
}
.wrapper1b {
    width: 80%;
    height: 10%;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: hidden;
}

.wrapper5a { /* UUID */
    width: 15%;
    height: 11.5%;
    position: absolute;
    top: 25.5%;
    left: 48%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: hidden;
}

.wrapper5b { /*  RSSI */
    width: 15%;
    height: 11.5%;
    position: absolute;

    top: 25.5%;
    left: 63.85%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: hidden;
}

.wrapper6a {   /* gyro threshold box */
    width: 10%;
    height: 11.5%;
    position: absolute;
    top: 25.5%;
    left:9%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: hidden;
}

.wrapper6b {   /* accelo threshold box  */
    width: 10%;
    height: 11.5%;
    position: absolute;
    top: 25.5%;
    left:19.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: hidden;
}

.wrapper6c {   /* rssi threshold box */
    width: 13%;
    height: 11.5%;
    position: absolute;
    top: 25.5%;
    left:31.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: hidden;
}

.wrapper5 { /*  callibration status */
    width: 24.4%;
    height: 11.5%;
    position: absolute;

    top: 25.5%;
    left: 84.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,0, 0.7);
    overflow: hidden;
}

.wrapper3 {  /* Gyro Graph */
    width: 45%;
    height: 12.0%;
    position: absolute;
    top: 40%;
    left: 25.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
}

.wrapper3b {  /* Accel Graph */
    width: 45%;
    height: 12.0%;
    position: absolute;
    top: 40%;
    left: 74.2%;
    transform: translate(-50%, -50%);
}

.wrapper2 { /* Gyro status*/
    width: 25%;
    height: 13.0%;
    position: absolute;

    top: 80%;
    left: 19.7%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,0,192, 0.3);
    overflow: hidden;
}

.wrapper2b { /* Accel status*/
    width: 25%;
    height: 13%;
    position: absolute;

    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,0,192, 0.3);
    overflow: hidden;
}

.wrapper2c { /* range status*/
    width: 25%;
    height: 13%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,0,192, 0.3);
    overflow: hidden;
}

.wrapper8 { /* table  */
    width: 86.5%;
    height: 13.0%;
    position: absolute;

    top: 93%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(192,192,192, 0.3);
    overflow: scroll;
}


body {
    background-color: rgb(0, 0, 0);/*linear-gradient(, rgba(0, 0, 0, 1)), url(back.jpg);*/
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.xGyro-panel,
.yGyro-panel,
.zGyro-panel,
.xAccel-panel,
.yAccel-panel,
.zAccel-panel  {

    width: 16%;
    float: left;
    height: 50.0%;
    padding: 5.75%;

    box-shadow: 0px 10px 50px rgba(255,255,255, 0.3);
    color: #fff;
}

.initial-data {
    font-size: 20px;

    transform: translate(0%, -70%);
      background-color: #1c7a96;
      color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -70px;
    margin-bottom: 50px;
    position: relative;
}

.initial-data-value {
    transform: translate(0%, -140%);
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 70;
    margin-bottom: 100px;
}

.title {
  background-color: #1c7a96;
  color: #fff;
  width: 85%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  font-size: 30px;
}

.vib-box {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%;
}
.vib-boxB {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%;
}
.vib-boxC {
    text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%;
}
.vibStat {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 120%;
}
.vibStatB {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 120%;
}
.vibStatC {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 120%;
}

.offset-limit-main {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%;
}

.offset-limit-maina {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%;
}

.offset-limit-mainb {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%;
}

.offset-limit {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  height: 6.0%;
  font-size: 120%;
}

.offset-limita {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  height: 6.0%;
  font-size: 120%;
}

.offset-limitb {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  height: 6.0%;
  font-size: 120%;
}

.set-threshold-limit {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%;
}

.set-threshold-limitB {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%
}

.set-threshold-limitC {
  text-align: center;
    background-color: #1c7a96;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 155%
}

.set-threshold-limit-input {
  position: absolute;
  left: 48%;
  top: 60%;
  transform: translateX(-50%);
  height: 10.0%;
  font-size: 120%;
  text-align: center;
}

.set-threshold-limit-inputB {
  position: absolute;
  left: 48%;
  top: 60%;
  transform: translateX(-50%);
  height: 100%;
  font-size: 120%;
  text-align: center;
}

.set-threshold-limit-inputC {
  position: absolute;
  left: 48%;
  top: 60%;
  transform: translateX(-50%);
  height: 10.0%;
  font-size: 120%;
  text-align: center;
}
